.avaliacoes {
  padding: 60px 0 0;
  position: relative;
}

.avaliacoes:before {
  left: 0;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 63vw;
  background: var(--color-light-blue);
}

.avaliacoes .mySwiper {
  max-width: 100%;
  margin: 0;
}

.avaliacoes h2 {
  font-size: 50px;
  color: #fff;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: -78px;
}

.avaliacao {
  color: #1c3380;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 30px;
  padding: 0 49px;
  position: relative;
  width: 80%;
  font-style: italic;
}

.avaliacao:before {
  content: '';
  position: absolute;
  top: 0;
  background-image: url(../img/aspas.png);
  background-size: cover;
  background-position: center;
  width: 54px;
  height: 26px;
  z-index: 9;
  left: -3px;
}

.nome {
  padding: 38px 0;
}

.nome h3 {
  font-size: 32px;
  font-weight: 600;
  color: #1c3380;
}

.nome h4 {
  font-size: 20px;
  color: #fff;
  margin: 11px 0;
}

.swiper-button-next {
  background-image: url(../img/arrow-right.svg);
  top: 42%;
  transform: translate(-50%);
  left: 550px;
  width: 20px;
  height: 22px;
  background-size: 10px 43px;
}

.swiper-button-prev {
  background-image: url(../img/arrow-left.svg);
  top: 42%;
  transform: translate(-50%);
  left: 19px;
  width: 20px;
  height: 22px;
  background-size: 10px 43px;
}

.mySwiper .swiper-slide .d-flex {
  display: flex;
  position: relative;
  min-height: 490px;
}

.mySwiper .swiper-slide .d-flex .itemtexto {
  width: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0 0 0;
}

.mySwiper .swiper-slide .d-flex .itemimg {
  position: relative;
  width: 100%;
  right: 0;
}

.mySwiper .swiper-slide .d-flex .itemimg img {
  position: absolute;
  width: 61%;
  object-fit: cover;
  bottom: 0;
  height: 100% !important;
}

@media (max-width: 767px) {
  .avaliacoes:before {
    width: 100%;
  }

  .avaliacoes h2 {
    font-size: 27px;
    text-align: center;
  }

  .avaliacao {
    padding: 0;
    width: 100%;
  }

  .mySwiper .swiper-slide .d-flex .itemtexto {
    width: 82%;
  }

  .mySwiper .swiper-slide .d-flex {
    flex-direction: column;
    min-height: 430px;
	padding-bottom: 200px;
  }

  .mySwiper .swiper-slide .d-flex .itemtexto .nome {
    width: 45%;
    display: block;
    margin: 0 0 auto auto;
    padding: 0 0 0;
	position: absolute;
    bottom: 0;
    text-align: right;
  }

  .nome h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .nome h4 {
    font-size: 17px;
    line-height: 26px;
  }

  .avaliacao p {
    font-size: 15px;
    padding: 0 49px;
  }

  .avaliacao p {
    width: 100%;
    color: #1c3380;
    text-transform: uppercase;
    font-size: 23px;
    width: 89%;
    font-style: italic;
  }

  .avaliacao:before {
    width: 39px;
    height: 22px;
    left: 0 !important;
  }
  .mySwiper .swiper-slide .d-flex .itemimg img {
    position: absolute;
    width: 70% !important;
    object-fit: cover;
    bottom: 0;
    height: auto !important;
    left: auto;
	right: 0;
  }
  .mySwiper .swiper-slide .d-flex .itemimg {
    position: unset;
    width: unset;
  }
}

/* fix julio */
.mySwiper .swiper-slide .d-flex .itemtexto {
  padding: 70px 0 0 80px;
  width: 89%;
}

.avaliacoes:before {
  width: 70vw;
}

.avaliacoes h2 {
  padding-left: 100px;
}

.swiper-button-prev {
  left: 90px;
}

.swiper-button-next {
  top: 42%;
  left: 600px;
}

@media (max-width: 768px) {
  .avaliacoes {
    padding: 60px 0 0;
    position: relative;
    background: #00b8f2;
  }
  .mySwiper .swiper-slide .d-flex .itemtexto {
    padding: 0;
    width: 89%;
  }

  .avaliacoes h2 {
    padding-left: 100px;
    margin-bottom: 31px;
    margin: 0 auto 30px auto;
    display: block;
    padding: 0;
    line-height: 31px;
  }

  .avaliacoes .swiper-button-prev {
    top: 30%;
    left: 4%;
  }

  .avaliacoes .swiper-button-next {
    top: 30%;
    left: inherit;
	right: -10px;
  }

  .avaliacoes .avaliacao .avaliacao p {
    padding-right: 64px;
  }
}
